*secrets.py
/public/firebase-config.js
.env
functions-crm/.env
!/env.example
/exports/
/output/
/config/google_oauth_client.json
/config/google_token.json
/functions-crm/venv/
/functions-auth/package-lock.json
**/node_modules/
/.firebase/*
/.firebase/
**/venv
.venv
/firebase-debug.log
/nul
